DB_TYPE={{ type_db }}
DB_HOST={{ host_db }}
DB_PORT={{ port_db }}
DB_USER={{ db_user }}
DB_USER_PASSWORD={{ db_user_password }}
DB_DATABASE={{ db_database }}
PORT_TASK_MANAGER={{ app_port_task_manager }}
NODE_ENV={{ current_env }}
SECRET_KEY={{ secret_key }}